.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.3rem;
  // padding: 0 2.4rem;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}
